<h1><%=@pantry.location%></h1>
<p>All available ingredients here</p>
<%=link_to "Edit Pantry", edit_pantry_path(@pantry)%>
<p>recipes available with ingredients on hand</p>
<p>add recipe link</p>
<p>all recipes</p>
